# OS & editor
.DS_Store
*.swp
*.swo
*.bak

# Logs
*.log

# Environment files
.env
*.pem
*.crt
*.key

# Python/Node (if any)
__pycache__/
*.pyc
node_modules/

# Terraform
.terraform/
terraform.tfstate*
crash.log

# Docker
*.tar

